.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./img/casino.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  z-index: -1;
  border: 10px solid black inset;
}
.App {
  text-align: center;
  color: #ffffff;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.rotate-left {
  transform: rotate(-15deg);
}
.rotate-right {
  transform: rotate(15deg);
}
.card-played, .card-stack {
  min-height: 200px;
  max-height: 600px;
  min-width: 300px;
}
.card-played img, .card-stack img {
  max-height:400px;
}
.card-stack {
  background-image: url("img/card-space.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
#user-card-stack:hover {
  cursor: pointer;
}
.cards-played {
  margin: 40px 0 !important;
  background-image: url("img/green-felt-bg.jpg");
  background-size: 20%;
}
#comp-card-stack {
  z-index: 1;
}
#comp-discard-stack {
  z-index: 0;
}
.no-padding {
  padding: 0 !important;
}
.full-width {
  max-width: 100% !important;
}
#ship {
  max-width: 200px !important;
}
/* .table-bg {
  background-image: url("img/green-felt-bg.jpg");
  background-size: 20%;
} */
.margin-bottom {
  margin-bottom: 40px !important;
}
.black-bg {
  background: rgba(0, 0, 0, 0.8)
}
.cell-padding {
  padding: 40px !important;
}
.cell-padding-top {
  padding-top: 40px !important;
}
.button {
  background-color: rgb(152, 0, 0) !important;
}
.hideIt {
  display: none !important;
}
.compCards {
  position: fixed;
  top: -50px;
  width: 66.66% !important;
}
.userCards {
  position: fixed;
  bottom: -50px;
  width: 66.66% !important;
}
.cardsPlayed {
  position: fixed;
  width: 66.66% !important;
  top: calc(50% - 180px)
}
.lefty {
  padding-bottom: 400px;
}
.cardNumbers {
  padding-top: 100px;
}

/*Tarwin*/



/* figure out how scss/sass works so i can wrap "ON" and "OFF"
into conditional statements to easily switch between the two */



/* ON */
.t-user-vs-comp h1 {
  font-size: 18px !important;
}
/* .t-score-board {
  background-color: rgb(179, 133, 56, 0.1);
  width: 70%;
  margin: 0 15%;
} */
.t-score-big {
  font-size: 36px !important;
  font-weight: bold;
}
.t-score-small {
  font-size: 24px !important;
}
.hidden {
  display: none !important;
}
#playACard, #startGame {
  background: linear-gradient(#E5BB40, #B38538) !important;
  background: linear-gradient(#B38538, #E5BB40) !important;
  width: 60%;
  border-radius: 10px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 18px;
}

/* OFF */